@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
.collapse-btn {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 13px;
    height: 2px;
    background-color: #67217a;
    transition: all 300ms;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 13px;
    height: 2px;
    transform: rotate(-90deg);
    background-color: #67217a;
    transition: all 300ms;
  }
}
.task-block,
.extra-block {
  clip-path: circle(0% at 0% 0%);
}
.open-task {
  clip-path: circle(100%);
}
.menu-item {
  @apply relative;
}

.menu-item::after {
  content: "";
  @apply absolute left-0 top-full mt-[2px] h-[1.5px] w-0 bg-violet-50 duration-300;
}
.menu-item:hover::after {
  @apply w-full;
}
.rotate::after {
  @apply -rotate-45;
}
.rotate::before {
  @apply rotate-45;
}

.open {
  left: 0 !important;
  @apply duration-200;
}

.fixed-body {
  overflow: hidden;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}
.body {
  @apply fixed left-0 right-0 w-full;
}
* {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 4px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fff;
    transition: 0.4s ease-in-out;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #67217a;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #67217a;
    transition: 0.4s ease-in-out;
  }
}
