@tailwind base;
@tailwind components;
@tailwind utilities;
.collapse-btn {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 13px;
    height: 2px;
    background-color: #67217a;
    transition: all 300ms;
  }
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 13px;
    height: 2px;
    transform: rotate(-90deg);
    background-color: #67217a;
    transition: all 300ms;
  }
}
.task-block,
.extra-block {
  clip-path: circle(0% at 0% 0%);
}
.open-task {
  clip-path: circle(100%);
}
.rotate::after {
  @apply -rotate-45;
}
.rotate::before {
  @apply rotate-45;
}

.open {
  right: 0 !important;
}

.fixed-body {
  overflow: hidden;
}
